.container {
  display: flex;
  flex-direction: column;

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
  .carousel {
    align-self: center;
    justify-items: center;
  }
  .projectSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.projectsContainer {
  display: flex;
  flex-direction: row;

  gap: 20px;

  flex-wrap: wrap;
}
