.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-transform: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  background-color: var(--background-color-light);
  padding: 30px;
  width: 50%;
  border-radius: 12px;
}

input,
textarea,
select,
option,
button {
  border-radius: 20px;

  border: #888 1px solid;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--form-text-color);
  height: 50px;
  padding: 12px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
select {
  width: 100%;
}

button[type="submit"],
Button {
  background-color: var(--background-color);
  color: var(--highlight-text);
  border: 1px solid var(--highlight-text);
  border-radius: 20px;
  padding: 12px;
  align-self: center;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.contactContainer {
  display: flex;
  gap: 40px;
  align-items: center;
}
.email {
  text-transform: none;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--background-color-light);
}
