.container {
  display: flex;
  flex-direction: column;
  /* align-self: center; */

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    width: 20px;
  }
}

.skillSlider {
  padding: 20px;
}
@media (width >= 800px) {
  .skillList {
    max-width: fit-content;
    gap: 30px;

    p {
      font-size: 20px;
    }
  }

  hr {
    width: 300px;
  }
}
