:root {
  --tw-bg-opacity: 1;
  --background-color: rgba(15, 23, 42, 1);
  --background-color-light: rgb(31, 35, 46);

  --text-color: rgba(148, 163, 184, 1);
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --heading: rgba(226, 232, 240, 1);

  --text-color: rgba(148, 163, 184, 1);
  --form-text-color: #555;
  --footer-text-color: #888;
  --border-color: rgb(215, 215, 255);
  --highlight-text: rgb(252, 250, 166);
}

[data-theme="dark"] {
  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1,
h2,
h3,
h5,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  font-family: "Roboto Mono", monospace;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
}

p {
  font-size: 16px;
  font-weight: 300;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
}
.content {
  margin-left: 30%;
  /* padding: 10px;
  width: 60%; */
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.container {
  padding: 20px 180px;
}
.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}

.highlight {
  color: var(--highlight-text);
}

@media (width >= 800px) {
  #root {
    gap: 100px;
  }
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }

  .sectionTitle {
    margin-bottom: 60px;
  }
}

@media screen and (width< 800px) {
  .sidebar {
    display: none;
  }
  .content {
    width: 100vw;
    margin: 0%;
    /* padding: 20px; */
  }
  .container {
    padding: 20px;
  }
}
